*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
}
.App{
    background: #333;
}
.bg-desktop{
    background-image: url('/src/Components/home/bg-desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.active li{
    border-bottom:2px solid #fff;
}
@media(max-width:519px){
    .active li{
        border:2px solid #fff;
    }
}
.dest-outer{
    background-image:url('/src/Components/Destination/Images/dest-desk-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.crew-outer{
    background-image:url('/src/Components/Crew/Images/crew-d-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.tech-d-bg{
    background-image:url('/src/Components/Technology/Images/bg-desk.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.slider{
    height: 100% !important;
}
