@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Comfortaa', cursive;
}
.App{
    background: #333;
}
.bg-desktop, .crew-outer, .dest-outer, .tech-d-bg{
    background-repeat: no-repeat;
    background-size: cover;
}
.active li{
    border-bottom:2px solid #fff;
}
@media(max-width:519px){
    .active li{
        border:2px solid #fff;
    }
}
