*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
}
.App{
    background: #333;
}
.bg-desktop{
    background-image: url('/src/Components/home/bg-desktop.jpg');
}
.active li{
    border-bottom:2px solid #fff;
}
.dest-outer{
    background-image:url('/src/Components/Destination/Images/dest-desk-bg.jpg');
}
.crew-outer{
    background-image:url('/src/Components/Crew/Images/crew-d-bg.jpg');
}
.tech-d-bg{
    background-image:url('/src/Components/Technology/Images/bg-desk.jpg');
}
.slider{
    height: 100% !important;
}
